<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="PI"                       value="3.14159265" />
  <xacro:property name="robot_scale"              value="${1/1000}" />

  <xacro:property name="base_plat_mass"           value="10" />
  <xacro:property name="base_plat_size_x"         value="${556  * robot_scale}" />
  <xacro:property name="base_plat_size_y1"        value="${189  * robot_scale}" />
  <xacro:property name="base_plat_size_y2"        value="${456  * robot_scale}" />
  <xacro:property name="base_plat_size_z"         value="${233  * robot_scale}" />

  <xacro:property name="base_motor_mass"          value="1" />
  <xacro:property name="base_motor_diameter"      value="${50   * robot_scale}" />
  <xacro:property name="base_motor_lenght"        value="${135  * robot_scale}" />
  <xacro:property name="base_motor_gap"           value="${20   * robot_scale}" />

</robot>