<?xml version="1.0"?>
<launch>

  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${node}][${function}:${line}]: ${message}"/>

  <arg name="robot_name"          default="woody"/>
  <arg name="x"                   default="0"/>
  <arg name="y"                   default="0"/>
  <arg name="yaw"                 default="0"/>
  <arg name="map_name"            default="regus"/>
  <arg name="simulation"          default="false"/>
  <arg name="gui_simulation"      default="false"/>
  <arg name="gui_teleop_keyboard" default="true"/>
  <arg name="gui_teleop_joy"      default="true"/>
  <arg name="gui_rviz"            default="true"/>
  <arg name="rviz_file"           default="$(find robot_nav)/rviz/mapping.rviz"/>

  <include file="$(find robot_description)/launch/bringup.launch" >
    <arg name="robot_name"          default="$(arg robot_name)"/>
    <arg name="x"                   default="$(arg x)"/>
    <arg name="y"                   default="$(arg y)"/>
    <arg name="yaw"                 default="$(arg yaw)"/>
    <arg name="world_name"          default="$(arg map_name)"/>
    <arg name="simulation"          default="$(arg simulation)"/>
    <arg name="gui_simulation"      default="$(arg gui_simulation)"/>
    <arg name="gui_teleop_keyboard" default="$(arg gui_teleop_keyboard)"/>
    <arg name="gui_teleop_joy"      default="$(arg gui_teleop_joy)"/>
    <arg name="gui_rviz"            default="$(arg gui_rviz)"/>
    <arg name="rviz_file"           default="$(arg rviz_file)"/>
  </include>

  <include file="$(find robot_nav)/launch/mapping.xml"/>

</launch>