<launch>
  <arg name="map_resource"          default="$(find robot_nav)/data/map"/>
  <arg name="name"                  default="regus"/>

  <!-- mapping -->
  <node name="map_server" pkg="map_server" type="map_server" output="screen"
    args="$(arg map_resource)/$(arg name)/map.yaml">
  </node>

  <!-- Create Environment -->
  <node name="create" pkg="robot_description" type="create.py" output="screen"/>
    <param name="name" value="$(arg name)"/>

</launch>